/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* ===== VARIÁVEIS ===== */
  :root {
    --preto: #0D0D0D;
    --preto-sec: #1A1A1A;
    --vermelho: #E50914;
    --vermelho-hover: #B20710;
    --branco: #F5F5F5;
    --cinza: #B3B3B3;
  }
  
  /* ===== BODY ===== */
  body {
    padding-top: 70px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--preto);
    color: var(--branco);
    line-height: 1.6;
  }
  
  /* ===== CONTAINER PADRÃO ===== */
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: var(--preto-sec);
    display: flex;
    align-items: center;
    z-index: 1000;
  }
  
  /* Centraliza conteúdo */
  .header-container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Logo */
  .logo {
    height: 45px;
  }
  
  /* ===== BOTÕES ===== */
  .btn {
    display: inline-block;
    background: var(--vermelho);
    color: var(--branco);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s;
  }
  
  .btn:hover {
    background: var(--vermelho-hover);
  }
  
  /* ===== SEÇÕES ===== */
  section {
    padding: 60px 0;
  }
  
  /* ===== CARDS (CATÁLOGO) ===== */
  .card {
    background: var(--preto-sec);
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  /* ===== FOOTER ===== */
  footer {
    background: var(--preto-sec);
    text-align: center;
    padding: 20px;
    color: var(--cinza);
  }

  /* BOTÃO FLUTUANTE WHATSAPP */
.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #E50914;
    color: #fff;
    font-size: 24px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    transition: 0.3s;
    z-index: 1000;
  }
  
  .whatsapp-float:hover {
    background: #B20710;
    transform: scale(1.08);
  }
  
  #typing-text::after {
    content: "|";
    margin-left: 5px;
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    50% { opacity: 0; }
  }
  